<dev>
    <h1>{{name}}</h1>
    <ul>
        <b>Users:</b>
        <br>
        {{#each users}}
            <br>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Id: {{id}}</button>
            <button type="button" class="btn btn-warning">Name: {{name}}</button>
            <button type="button" class="btn btn-success">Gender: {{gender}}</button>
            <button type="button" class="btn btn-success">Age: {{age}}</button>
            <br>
            </div>
            <br>
            <ul>
                <b>Friends:</b>
                {{#each friends}}
                    <br>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Id: {{id}}</button>
                    <button type="button" class="btn btn-warning">Name: {{name}}</button>
                    <button type="button" class="btn btn-success">Gender: {{gender}}</button>
                    <button type="button" class="btn btn-success">Age: {{age}}</button>
                    </div>
                    <br>
                    <b>Mutual Friends:</b>
                    {{#each mutual_friends}}
                        <br>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Id: {{id}}</button>
                        <button type="button" class="btn btn-warning">Name: {{name}}</button>
                        <button type="button" class="btn btn-success">Gender: {{gender}}</button>
                        <button type="button" class="btn btn-success">Age: {{age}}</button>
                        </div>
                    {{/each}}
                {{/each}}
                </ul>
                <br>
                <ul>
                    <b>Groups:</b>
                    {{#each groups}}
                        <br>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Id: {{id}}</button>
                        <button type="button" class="btn btn-warning">Name: {{name}}</button>
                        <button type="button" class="btn btn-warning">Description: {{description}}</button>
                        </div>
                        <ul>
                            <br>
                            <b>Members:</b>
                            {{#each members}}
                                <br>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">Id: {{id}}</button>
                                <button type="button" class="btn btn-warning">Name: {{name}}</button>
                                <button type="button" class="btn btn-success">Gender: {{gender}}</button>
                                <button type="button" class="btn btn-success">Age: {{age}}</button>
                                </div>
                            {{/each}}
                        </ul>
                        <br>
                    {{/each}}
                </ul>
            </ul>
        {{/each}}
    </ul>
    <hr>
</dev>