{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main class="col-12 p-1">
    {{#with main}}
        {{!-- <div class="text-center"> --}}
            <h2>{{title}}</h2>
            <p>{{text}}</p>
        {{!-- </div> --}}
    {{/with}}

    {{#each buttons}}
    <div class="col-12">
        <div class="row"> 
            <div class="my-1 mx-0">
                <h5 class="card-title my-2" >{{title}}</h5>
                <a href="{{link}}" class="btn btn-primary col-3">{{text}}</a>
            </div>
        </div>
    </div>
    {{/each}} 
</main>   

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}