<div>
    <h1>{{name}}</h1>
    <b>Description: {{description}}</b>
    <h2>History:</h2>
    <ul>
        {{#with history}}
            <li><b>Founder: {{founder}}</b></li>
            <li><b>Year: {{year}}</b></li>
        {{/with}}
    </ul>
    <h2>Types:</h2>
    <ul>
        {{#each types}}
            <li><b>{{this}}</b></li>
        {{/each}}
    </ul>
    <h2>Syntax:</h2>
    <ul>
        {{#with syntax}}
            <li>
                <b>Variables: 
                    {{#each variables}}
                    <li><b>{{this}}</b></li>
                    {{/each}}
                </b>
            </li>
            <br>
            <li>
                <b>Classes: 
                    {{#each classes}}
                    <li><b>{{this}}</b></li>
                    {{/each}}
                </b>
            </li>
            <br>
            <li>
                <b>Functions: 
                    {{#each functions}}
                    <li><b>{{this}}</b></li>
                    {{/each}}
                </b>
            </li>
            <br>
            <li>
                <b>Conditionals: 
                    {{#each conditionals}}
                    <li><b>{{this}}</b></li>
                    {{/each}}
                </b>
            </li>
            <br>
            <li>
                <b>Loops: 
                    {{#each loops}}
                    <li><b>{{this}}</b></li>
                    {{/each}}
                </b>
            </li>
        {{/with}}
    </ul>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
            <li><a class="dropdown-item" href="#">First-class functions</a></li>
            <li><a class="dropdown-item" href="#">Closures</a></li>
            <li><a class="dropdown-item" href="#">Dynamic typing</a></li>
            <li><a class="dropdown-item" href="#">Prototype-based inheritance</a></li>
            <li><a class="dropdown-item" href="#">Asynchronous programming with Promises and async/await</a></li>
            <li><a class="dropdown-item" href="#">Modules with import/export statements</a></li>
        </ul>
    </div>
    <br>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            libraries
            <li><a class="dropdown-item" href="#">jQuery</a></li>
            <li><a class="dropdown-item" href="#">React</a></li>
            <li><a class="dropdown-item" href="#">Angula</a></li>
            <li><a class="dropdown-item" href="#">Node.js</a></li>
            <li><a class="dropdown-item" href="#">Express.js</a></li>
            <li><a class="dropdown-item" href="#">Lodash</a></li>
            <li><a class="dropdown-item" href="#">Moment.js</a></li>
        </ul>
    </div>
    <br>
    <button type="button" class="btn btn-primary">Tools</button>
    <br>
        {{#each tools}}
        <li><b>{{this}}</b></li>
        {{/each}}
    <br>
    <button type="button" class="btn btn-warning">Community</button>
    <ul>
        {{#each community}}
        <br>
            <li><b>Name: {{name}}</b></li>
            <li><b>Type: {{type}}</b></li>
        {{/each}}
    </ul>
</div>